* {
    margin: 0px;
    padding: 0px

}

body {
    font-family: 'Merriweather', serif; 
    background-color: #f0f2f6;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgb(168, 165, 165);
}

.navbar__brand {
    width: 100px;

}

.navbar__logo  {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 200;

}

.button__primary:hover {
    border: 2px solid #e72e6b;
    cursor: pointer;
}

.container {
    padding: 20px;

}

.hero__image__container {
    width: 100%;

}

.hero__image {
    width: 100%;

}

.hero__text {
    font-weight: 800;
    font-size: 32px;
    margin: 20px 0;
    color: #1d3557
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding: 20px;
        font-size: 20px;
        
    }
}